<!doctype html>

<html>
<head>
  <!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='83064628-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->



  <title>Welcome to iNQUery</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/iNQuery.css" rel="stylesheet">

  <script src = "js/jquery-1.11.0.js"></script>
  <script src = "js/bootstrap.js"></script>
  <script src = "js/hci-friends.js"></script>

      
</head>

<body>
  <a name = "top">
  <body>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">iNQuery</a>
        <h4 style="padding-top: 3px;">iNQuery Home</h4>
      </div>

      
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="senateSelect">Compare Senators</a></li>
          <li><a href="lawsgallery">Browse Laws</a></li>
          <li><a href="gallery">Browse Senators</a></li>
          <li><a href="help">User FAQ Guide</a></li>
          <li><a href="about">About iNQuery</a></li>


      </div>
    </div>
  </nav>

  <div class="container">


    {{#each buttons}}




    <div class="row">
      <div class="col-xs-12">
        <div class="project" id="project" + "{{projectNumber}}">
          <a href="{{url}}" class="thumbnail">
            <img src="{{imageURL}}" class="img-circle">
            <h4 class="inContainer">{{name}}</h4>
             <!--<button type="button" class="btn btn-info btn-xs">{{name}}</button> -->
          </a>
        </div>
      </div>
      {{/each}}



  <script src="https://code.jquery.com/jquery.js"></script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48537424-2', 'http://inquery.herokuapp.com');
  ga('send', 'pageview');

</script>
</body>
</html>